<div class="container my-5">
  <div class="row">
    <div class="col col-md-6">
      <img src="{{ nft?.src}}" class="w-100">
    </div>
    <div class="col col-md-6">
      <h3>{{ nft?.title }}</h3>
      <p>créee le {{ nft?.createdAt | date: "longDate"}}</p>
      <p>par {{ nft?.user?.nickname}}</p>
      <p>{{ nft?.description }}</p>
      <p>Les sousCatégories : <span *ngFor="let subCategoryName of nft?.subCategories">{{ subCategoryName?.subCategoryName }}</span></p>
    </div>
  </div>
</div>

<div class="container my-5" id="ethChart">
  <canvas>
    
  </canvas>
</div>