.navBar1{
  height: 7rem;
  width: 100%;
  position: sticky;
  top: 0;
  height: 100%;
  color: white;
  background: #00E1B9;
  // background: -moz-linear-gradient(45deg, #00E1B9 0%, #2388CB 30%, #080F4B 100%);
  // background: -webkit-linear-gradient(45deg, #00E1B9 0%, #2388CB 30%, #080F4B 100%);
  background: linear-gradient(45deg, #00E1B9 0%, #2388CB 30%, #080F4B 100%);
  img{
    max-height: 5rem;
    // max-width: ;
  }
  li{
    color: white;
  }
  .emptyDiv{
    width: 10%;
  }
  z-index: 1;
  .welcome{
    p{
      margin: 0 !important;
    }
  }
}
