<footer>
  <div class="container">
    <div class="divImg">
      <img src="../../assets/images/ArtStoreLogo.png" alt="logo du site ArtStore">
    </div>
    <div class="contact">
      <div class="divContact">
        <h4 class="center">contact</h4>
        <p>Vous pouvez me contacter sur ilyes@ilyes.com</p>
      </div>
      <hr>
      <div>
        <ul>
          <li>Politique des confidentialité</li>
          <li>Politique des Cookies</li>
          <li>Mentions Légales</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
