<nav class="navbar navbar-expand-lg navbar-light bg-light flex-column">
  <div class="container-fluid">
    <div class="collapse navbar-collapse  d-flex justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="navbar-brand" routerLink="/admin">Administration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/admin-user">Liste des utilisateurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/admin-address">Liste des adresses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/admin-nft">Liste des nfts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/admin-sub-category">Liste des sous-catégories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/admin-category">Liste des catégorie</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
