<section id="editCategory">
  <div class="container backgroundContainer">
    <div>
      <h2 class="text-center mt-4">mettre à jour votre categorie</h2>
    </div>
    
    <div>
      <form class="formInput py-5" [formGroup]="formUpdate" (ngSubmit)="onSubmit()">
        <div class="container text-center">
          <div>
            <label for="categoryName" class="form-label">Nom de la sous-category</label>
            <input type="text" formControlName="categoryName" id="categoryName" class="form-control" >
          </div>
          <button class="btn mt-4 buttonSubmit" type="submit">Valider</button>
        </div>
      </form>
    </div>
  </div>
</section>