<app-admin-header></app-admin-header>

<div>
  <h2 class="text-center">Liste des sous-categories</h2>
</div>

<div class="container">
  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nom de la sous-catégorie</th>
        <th scope="col">La catégorie</th>
        <th class="center" scope="col">Mettre à jour</th>
        <th class="center" scope="col">Supprimer</th>
      </tr>
    </thead>
    <tbody *ngFor="let subCategory of subCategories; let index = index">
      <tr>
        <th scope="row">{{ subCategory.id }}</th>
        <td>{{ subCategory.subCategoryName }}</td>
        <td>{{ subCategory.category?.categoryName }}</td>
        <td class="center"><a routerLink="/admin-sub-category/{{ subCategory.id }}/update"><i class="fa-solid fa-file-pen"></i></a></td>
        <td class="center" (click)="deleteSubCategory(subCategory.id, index)"><i class="fa-solid fa-trash-can"></i></td>
      </tr>
    </tbody>
  </table>
</div>

<app-add-sub-category></app-add-sub-category>

