.container{
  display: flex;
  justify-content: center;
}

.center{
  text-align: center;
}

.fa-trash-can{
  color: red;
  cursor: pointer;
}

.fa-file-pen{
  text-align: center;
  color: blue;
}

th{
  font-family: 'Kalnia',serif;
}

td{
  font-family: 'Lato', sans-serif;
}


@media screen and (min-width: 320px) and (max-width: 425px) {
  // .responsiveHidden{
  //   display: none;
  // }
  th,td{
    font-size: 12px;
  }
}