<app-admin-header></app-admin-header>

<div class="container">
  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th class="responsiveHidden" scope="col">Prénom</th>
        <th class="responsiveHidden" scope="col">Nom</th>
        <th class="responsiveHidden" scope="col">Nom d'utilisateur</th>
        <th scope="col">Email</th>
        <th class="responsiveHidden" scope="col">date de naissance</th>
        <th class="responsiveHidden" scope="col">Adresse</th>
        <th class="responsiveHidden" scope="col">Genre</th>
        <th class="responsiveHidden" scope="col">Roles</th>
        <th class="center" scope="col">Mettre à jour</th>
        <th class="center" scope="col">supprimer</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users">
      <tr>
        <th scope="row">{{ user.id }}</th>
        <td class="responsiveHidden">{{ user.firstName }}</td>
        <td class="responsiveHidden">{{ user.lastName }}</td>
        <td class="responsiveHidden">{{ user.nickname }}</td>
        <td>{{ user.email }}</td>
        <td class="responsiveHidden">{{ user.birthDate | date:"shortDate" }}</td>
        <td class="responsiveHidden">{{ user.address?.street }} {{ user.address?.department }} {{ user.address?.zipCode }} {{ user.address?.country }}</td>
        <td class="responsiveHidden">{{ user.gender }}</td>
        <td class="responsiveHidden">{{ user.roles }}</td>
        <td class="center"><i class="fa-solid fa-file-pen"></i></td>
        <td class="center"><i class="fa-solid fa-trash-can"></i></td>
      </tr>
    </tbody>
  </table>
</div>



