<section>
  <div class="container">
    <h2>Ma galerie</h2>
    <div class="row nftCol">
      
        <div  class="col-3 cardNft mt-3 ms-1" *ngFor="let nft of userData.nfts">
          <a routerLink="/nft/details/{{ nft.id }}">
            <img src="{{ nft.src }}" class="card-img-top cardImg" alt="{{ nft.title }}">
          </a>
          <div class="card-body d-flex flex-column">
            <h4 class="card-title text-center">{{ nft.title }}</h4>
            <p class="card-text text-center">Types : <span *ngFor="let subCotegory of nft.subCategories">{{ subCotegory.subCategoryName }},</span></p>
            <p class="text-center">{{ nft.price /100 }}<i class="fa-brands fa-ethereum"></i> ~ {{ ethPrice * nft.price / 100 }}€ </p>
            <p class="card-text text-center">Créé le {{ nft.createdAt | date:'shortDate'}} par {{ userData.nickname }}</p>
          </div>
        </div>
      
    </div>
  </div>

</section>
