<h2 class="text-center"> Ajoutez une sous-catégorie</h2>

<div class="text-center buttonSubCategory">
  <button (click)="openModal()">Ajouter une sous catégory</button>
</div>

<div class="modal" id="modalUpdate">
  <div class="modal-dialog">
    <div class="modal-content">
      <div>
        <button type="button" (click)="closeModal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <form [formGroup]="formAdd" class="my-5" (ngSubmit)="onSubmit()">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <label for="name" class="form-label">Nom de la sous-category</label>
                  <input type="text" formControlName="name" id="name" class="form-control">
                </div>
                <div class="col-md-6 categories">
                  <label for="category">Choisissez votre categorie:</label>
                  <select formControlName="category" id="category">
                    <option *ngFor="let category of categories" value="{{ category.id }}">{{ category.categoryName }}</option>
                  </select>
                </div>
              </div> 
              
            </div>
            <div class="text-center mt-4">
              <button type="submit" (click)="closeModal()" class="btn buttonSubmit">Ajouter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

