<app-admin-header></app-admin-header>


<div class="container">
  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Rue</th>
        <th scope="col">Département</th>
        <th scope="col">Code Zip</th>
        <th scope="col">Pays</th>
        <th scope="col">Utilisateurs</th>
        <th scope="col">mettre à jour</th>
        <th scope="col">supprimer</th>
      </tr>
    </thead>
    <tbody *ngFor="let address of addresses">
      <tr>
        <th scope="row">{{ address.id }}</th>
        <td>{{ address.street }}</td>
        <td>{{ address.department }}</td>
        <td>{{ address.zipCode }}</td>
        <td>{{ address.country }}</td>
        <td><span *ngFor="let user of address.users"> {{ user.firstName }} {{ user.lastName }}, </span></td>
        <td>update</td>
        <td>delete</td>
      </tr>
    </tbody>
  </table>
</div>
