<app-admin-header></app-admin-header>

<div class="container">
  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Titre</th>
        <th scope="col" class="responsiveHidden">Déscription</th>
        <th scope="col" class="responsiveHidden">Créer le</th>
        <th scope="col" class="responsiveHidden">Prix</th>
        <th scope="col" class="responsiveHidden">Les SousCategories</th>
        <th class="center" scope="col"> Voir</th>
        <th class="center" scope="col">Mettre à jour</th>
        <th class="center" scope="col">Supprimer</th>
      </tr>
    </thead>
    <tbody *ngFor="let nft of nfts">
      <tr>
        <th scope="row">{{ nft.id }}</th>
        <td>{{ nft.title }}</td>
        <td class="responsiveHidden">{{ nft.description }}</td>
        <td class="responsiveHidden">{{ nft.createdAt | date:'shortDate' }}</td>
        <td class="price responsiveHidden">{{ nft.price / 100 }}<i class="fa-brands fa-ethereum"></i></td>
        <td class="responsiveHidden"><span *ngFor="let subCategory of nft.subCategories"> {{ subCategory.subCategoryName }} , </span></td>
        <td class="center"><a routerLink="/nft/details/{{ nft.id }}"><i class="fa-solid fa-eye"></i></a></td>
        <td class="center"><i class="fa-solid fa-file-pen"></i></td>
        <td class="center"><i class="fa-solid fa-trash-can"></i></td>
      </tr>
    </tbody>
  </table>
</div>


<app-add-nft></app-add-nft>
