<nav class="navbar bg-light navBar2">
  <div class="container-fluid d-flex justify-content-center">
    <form class="d-flex" role="search" [formGroup]="form">
      <input type="text" placeholder="Search"  formControlName="title" (ngModelChange)="search($event)">
    </form>
  </div>
</nav>

<div class="container-fluid d-flex justify-content-center">
  <form [formGroup]="formSubCategory">
    <select>
      <option selected>All</option>
      <option *ngFor="let subCategory of subCategories" formControlName="subCategory" value="{{ subCategory.subCategoryName }}" (ngModelChange)="filterSubCategory($event)">{{ subCategory.subCategoryName }}</option>
    </select>
  </form>
</div>
<div class="container d-flex justify-content-around me-2">
  <div class="row">
    <div *ngFor="let nft of nfts" class="col-3 border border-secondary border-3 m-1">
      <a routerLink="/nft/details/{{ nft.id }}">
        <img  src="{{ nft.src }}" alt="image de {{ nft.title }}" class="imgMedia m-auto d-block">
      </a>
      <h4 class="text-center">titre: {{ nft.title }}</h4>
      <p class="text-center">Types : <span *ngFor="let nftSubCategory of nft.subCategories" class="types">{{ nftSubCategory.subCategoryName }},</span></p> 
      <p class="text-center">créé le : {{ nft.createdAt | date: "shortDate" }} by {{ nft.user.nickname }}</p>
  
    </div>

  </div>
</div>

<div *ngFor="let user of users">
  <ul>
    <li>{{ user.id }}</li>
    <li>{{ user. nickname }}</li>
  </ul>
</div>
