<app-admin-header></app-admin-header>


<div class="container">
  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nom de la catégorie</th>
        <th scope="col">Les sous-catégories</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngFor="let category of categories; let index = index">
      <tr>
        <th scope="row">{{ category.id }}</th>
        <td>{{ category.categoryName }}</td>
        <td><span *ngFor="let subCategory of category.subCategories"> {{ subCategory.subCategoryName }} , </span></td>
        <td><a routerLink="/admin-category/{{ category.id }}/update">mettre à jour</a></td>
        <td (click)="deleteCategory(category.id, index)">supprimer</td>
      </tr>
    </tbody>
  </table>
</div>

<h2 class="text-center"> Ajoutez une catégorie</h2>

<div class="text-center">
  <button (click)="openModal()">Ajouter</button>
</div>

<div class="modal" id="modalUpdate">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" (click)="closeModal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <form [formGroup]="formAdd" class="my-5" (ngSubmit)="onSubmit()">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <label for="categoryName" class="form-label">Nom de la categorie</label>
                  <input type="text" formControlName="categoryName" id="categoryName" class="form-control">
                </div>
              </div> 
              
            </div>
            <div class="text-center mt-4">
              <button type="submit" (click)="closeModal()" class="btn btn-primary">Ajouter</button>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="closeModal()" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>