<app-admin-header></app-admin-header>


<div class="container">
  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nom de la catégorie</th>
        <th scope="col">Les sous-catégories</th>
        <th scope="col">Mettre à jour</th>
        <th class="center" scope="col">Supprimer</th>
      </tr>
    </thead>
    <tbody *ngFor="let category of categories; let index = index">
      <tr>
        <th scope="row">{{ category.id }}</th>
        <td>{{ category.categoryName }}</td>
        <td><span *ngFor="let subCategory of category.subCategories"> {{ subCategory.subCategoryName }} , </span></td>
        <td class="center"><a routerLink="/admin-category/{{ category.id }}/update"><i class="fa-solid fa-file-pen"></i></a></td>
        <td class="center" (click)="deleteCategory(category.id, index)"><i class="fa-solid fa-trash-can"></i></td>
      </tr>
    </tbody>
  </table>
</div>

<app-add-category></app-add-category>